rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /messages/{messageId} {
      allow read, write: if request.auth != null && 
        (request.resource.data.coupleId != null || resource.data.coupleId != null);
    }
    
    match /status/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /couples/{coupleId} {
      allow read: if request.auth != null && (request.auth.uid in resource.data.participants);
      allow write: if false; 
    }
  }
}
