@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-roboto);
  --color-snapchat-yellow: #FFFC00;
  --color-snapchat-blue: #00B9FF;
  --color-snapchat-red: #FF0049;
  --color-snapchat-purple: #9B38FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}